@font-face {
    font-family: 'logo';
    src: url('./logo.woff2') format('woff2');
  }

  @font-face {
    font-family: 'body-font';
    src: url('./regular.woff2') format('woff2');
  }

body {
    margin: 0;
    height: 100vh;
    font-family: 'body-font';
}

#content {
    margin: 0;
    padding: 0;
}

#page-container {
    display: grid;
    grid-template-columns: 1fr 2.5fr 1fr;
    grid-template-rows: 0.6fr 6fr 0.6fr;
    background-color: #F2E5E5;
}

/* HEADER ELEMENTS */

#header {
    margin: 0;
    grid-area: 1/1/2/4;
    background-color: #2B3A55;
    display: grid;
    grid-template-columns: 1fr 2.5fr 1fr;
    position: sticky;
    top: 0;
    padding: 0;
}

#logo-menu-container {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 7fr 1fr 1fr 1fr;
    align-items: center;
}

#logo {
    color: #F2E5E5;
    font-family: 'logo';
    font-size: 4rem;
    margin: 1.2rem;
}

.menu-button {
    border: none;
    background-color: #2B3A55;
    margin-left: 1rem;
    color: #F2E5E5;
    font-family: 'body-font';
    font-size: 1.5rem;
    padding: 1rem;
}

.menu-button:hover {
    background-color: #CE7777;
}

.menu-button:focus {
    background-color: #CE7777;
}

/* MAIN CONTENT ELEMENTS */

#main-content {
    margin: 0;
    grid-area: 2/2/3/3;
}

.main-content-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.title-container {
    display: flex;
    justify-content: center;
}

.content-title {
    font-size: 3rem;
    color: #2B3A55;
    width: fit-content;
    font-family: 'logo';
    min-width: 150px;
    text-align: center;
}

#about-image {
    border: 15px solid #CE7777;
    background: url("./about.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    place-self: stretch;
    min-height: 300px;
}

#contact-image {
    border: 15px solid #CE7777;
    background: url("./contact.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    place-self: stretch;
    min-height: 300px;
}

#grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}

.grid-content {
    border: 15px solid #CE7777;
    background-color: #2B3A55;
    min-height: 300px;
}

.grid-content-title {
    color: #CE7777;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.grid-content-text {
    color: #F2E5E5;
    padding: 1rem;
    font-size: 1.2rem;
    list-style: none;
    margin: 0;
    white-space: pre-line;
}

/* FOOTER ELEMENTS */

#footer {
    margin: 0;
    grid-area: 3/1/4/4;
    background-color: #CE7777;
    display: grid;
    grid-template-columns: 1fr 2.5fr 1fr;
    min-height: 75px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

#footer-container {
    grid-column: 2/3;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

#footer a {
    color: #2B3A55;
    text-decoration: none;
    text-align: center;
}