body {
    margin: 0;
    height: 100vh;
}

#content {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#page-container {
    margin: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2.5fr 1fr;
    grid-template-rows: 0.8fr 6fr 0.6fr;
    background: url("./background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

/* HEADER ELEMENTS */

#header {
    margin: 0;
    grid-area: 1/1/2/4;
    background-color: #2B3A55;
    display: grid;
    grid-template-columns: 1fr 2.5fr 1fr;
}

#logo-menu-container {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 7fr 1fr 1fr 1fr;
    align-items: center;
}

#logo {
    color: white;

}

.menu-button {
    border: none;
    background-color: #2B3A55;
    margin-left: 1rem;
    color: white;
}

/* MAIN CONTENT ELEMENTS */

#main-content {
    margin: 0;
    grid-area: 2/2/3/3;
    background:rgba(255,255,255, 0.5);
}

.main-content-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.title-container {
    display: flex;
    justify-content: center;  
}

.content-title {
    font-size: 2.5rem;
    color: #CE7777;
    border: 15px solid #CE7777;
    width: fit-content;
    padding: 1rem;
    background-color: #2B3A55;
}

#about-image {
    border: 15px solid #CE7777;
    background: url("./about.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    width: 95%;
}

#contact-image {
    border: 15px solid #CE7777;
    background: url("./about.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    width: 95%;
}

#grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}

.grid-content {
    border: 15px solid #CE7777;
    background-color: #2B3A55;
}

.grid-content-title {
    color: #CE7777;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.grid-content-text {
    color: #CE7777;
    padding: 1rem;
    font-size: 1.2rem;
}

/* FOOTER ELEMENTS */

#footer {
    margin: 0;
    grid-area: 3/1/4/4;
    background-color: #CE7777;
    display: grid;
    grid-template-columns: 1fr 2.5fr 1fr;
}

#footer-container {
    grid-column: 2/3;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

#footer a {
    color: #2B3A55;
    text-decoration: none;
    text-align: center;
}